/* mobile */
/* @media screen and (max-width:500px) { */
    .menubar{
        background-color: white;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    .dropdown {
        position: fixed;
        display: block;
        top: 1rem;
        left: 1rem;
    }

    .dropdown-content {
        background: white;
        display: none;
        width: 5em;
        padding: 1em 0;
        position: absolute;
        box-shadow: 0 1em 1em 0 rgb(0,0,0,0.2);
        z-index: 1;
    }

    .dropbox-content a{
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-weight: 600;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: black;
        color: white;
    }
    
    .logo {
        display: block;
        width: 4rem;
        position: fixed;
        top: 0.7em;
        left: 40%;
    }

    form .search{
        position: fixed;
        display: none;
    }

    .searchbtn {
        position: fixed;
        top: 1rem;
        left: 70%;
    }

    .nav-fav-btn {
        position: fixed;
        top: 1rem;
        left: 78%;
    }

    .nav-cart-btn {
        position: fixed;
        top: 1rem;
        left: 88%;
    }

    button {
        background-color: transparent;
        border: none;
        margin-left: 1em;
    }

    h1 {
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-block-end: 0.5em;
        padding: 0.7em 0.5em;
    }
    p{
        font-size: 0.9rem;
        margin-block-end: 0.5rem;
    };

    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
      }

    ol {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
        margin-left: 1.5rem;
    }
    
    .dropdown-menu a {
        color: black;
        text-decoration: none;
        padding: 1em 0;
    }

    .nav-icon a {
        color: black;
        text-decoration: none;
        position: sticky;
      }  

    main{
        position: relative;
        margin: 4em 1em 1em 1em;
    }

    .product-image {
        max-width: 100%;
        height: auto;
        margin: 1.5em 0 0 0;            
    }
    
    .label-head,dt {
        font-weight: 600;
        display: inline;
    }

    data {
        display: block;
        margin-block-end: 0.5em;
    }
    ins {
        font-weight: 600;
        font-size: 1.1em;
        color: #D55858;
        text-decoration: none;
    }
    
    fieldset a{
        margin-left: 1em;
    }

    .pagination {
        display: block;
        padding: 1rem;
        margin: 1em 0 1em 0;
        text-align: center;
      }

    .pagination p{
        text-align: left;
    }
      
    .pagination li a {
        overflow: hidden;
        margin-top: 0.5em;
        font-size: 1.1em;
        color: black;
        padding: 0.2em;
        text-decoration: none;
        text-align: center;
      }
      
    .pagination a.active {
        pointer-events: none;
        width: 2em;
        background-color: black;
        color: white;
      }

    footer {
        background-color: black;
        padding: 1em;
        height: 8em;
        color: white;
        font-size: 0.9em;
    }

    footer li a{
        color: white;
        text-decoration: none;
        float: center;
        margin-left: 1em;
    }
/* } */

@media screen and (min-width:590px) {
    .menubar{
        background-color: white;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    .dropdown {
        width: fit-content;
    }
    .dropdown-content {
        visibility: visible;
        display: inline-block;
        position: relative;
        width: max-content;
        background-color: transparent;
        box-shadow: none;
    }

    .dropbtn {
        display: none;
    }

    .dropdown-content a:hover {
        font-weight: 600;
    }

    .logo {
        display: block;
        width: 6rem;
        position: fixed;
        top: 0.7em;
        left: 20rem;
    }

    form .search{
        position: fixed;
        visibility: visible;
        top: 1rem;
        left: 40rem;
    }
    .nav-cart-btn {
        position: fixed;
        top: 1.5rem;
        left:90%;    
        }

    .searchbtn {
        position: relative;
        top: 1.5em;
        left: 72%;
    }

    .nav-fav-btn {
        position: relative;
        top: 0em;
        left: 80%;
    }

    main{
        position: relative;
        margin-top: 6em;
    }

    .product {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .pagination {

}