/* mobile */
@media screen and (max-width:639px) {
    .menubar{
        display:flex;
        width: 100%;
        margin: 1rem 1rem 1rem 1rem;
    }
    .menu {
        display: none;
    }
    
    .logo {
        display: inline-block;
        width: 15%;
        height: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
   h1 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: 600;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    p{
        font-size: 0.9rem;
        margin-block-end: 0.5rem;
    };

    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
      }
    ol {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
        margin-left: 1.5rem;
    }
    li a {
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
      }  
      
    main {
        margin: 0 1em;
    }

    .product-image {
        max-width: 100%;
        height: auto;
        margin: 1.5em 0 1em 0;            
    }
    
    legend,dt {
        font-weight: 600;
        display: inline;
    }

    data {
        display: block;
        margin-block-end: 0.5em;
    }
    ins {
        font-weight: 600;
        font-size: 1.1em;
        color: #D55858;
        text-decoration: none;
    }

}